<!-- Component -->
<h1>Component</h1>
<app-my-first-component></app-my-first-component>
<app-inline-style-component></app-inline-style-component>
<app-inline-template-component></app-inline-template-component>


<!-- Module -->
<br/><br/><br/><br/><br/>
<h1>Module</h1>
<app-component-inside-module></app-component-inside-module>


<!-- Interpolation -->
<br/><br/><br/><br/><br/>
<h1>Interpolation</h1>
<h4>Get angular version : {{version}}</h4>
<h4>Get value from function : {{getValueFromFunction()}}</h4>
<h4>The sum of 4 and 2 is : {{ 4 + 2 }}</h4>
<h4>Is num equal to 23 : {{ num === 23 }}</h4>
<h4>Is num equal to 24 : {{ num === 24 }}</h4>


<!-- Property Binding -->
<br/><br/><br/><br/><br/>
<h1>Property Binding</h1>
<input type="text" [value]=name [disabled]=isDisabled/>


<!-- Two way binding -->
<br/><br/><br/><br/><br/>
<h1>Two way binding</h1>
<input type="text" [(ngModel)]="inputValue">
<h3>{{inputValue}}</h3>


<!-- Important Events Binding -->
<br/><br/><br/><br/><br/>
<h1>Important Events</h1>
<button (click)="displayWarning('button click event')">Call function</button><br/><br/>
<input #input1 type ="text" placeholder="keyup box" (keyup)="displayWarning(input1.value)"/><br/><br/>
<input #input2 type ="text" placeholder="keydown box" (keydown)="displayWarning(input2.value)"/><br/><br/>
<input #input3 type ="text" placeholder="blur box" (blur)="displayWarning(input3.value)"/><br/><br/>
<input #input4 type ="text" placeholder="input box" (input)="displayWarning(input4.value)"/><br/><br/>
<h4 (mouseover)="displayWarning('mouse over')">Mouse over here</h4>


<!-- Function -->
<br/><br/><br/><br/><br/>
<h1>Functions</h1>
<button (click)="getName()">Call function</button><br/><br/>
<button (click)="getAge(18)">Call function with parameter</button>


<!-- Directives -->
<br/><br/><br/><br/><br/>
<h1>Directives : Structural directives</h1>


<!-- if-Else -->
<h2>1- If Else</h2>
<h4 *ngIf="show; then ifBlock else elseBlock"></h4>
<ng-template #ifBlock>
    <h4>I'am inside the if condition</h4>
</ng-template>
<ng-template #elseBlock>
    <h4>I'am inside the else block</h4>
</ng-template>


<!-- Multiple condition -->
<h2>2- If Else (Multiple condition)</h2>
<ng-template [ngIf]="color==='red'">
    <h4 style="color:red">Red color</h4>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h4 style="color:green">Green color</h4>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h4 style="color:blue">Blue color</h4>
</ng-template>


<!-- Switch case -->
<h2>3- Switch case</h2>
<div [ngSwitch]="color">
    <h4 *ngSwitchCase="'red'" style="color:red">Red color</h4>
    <h4 *ngSwitchCase="'blue'" style="color:blue">Blue color</h4>
    <h4 *ngSwitchCase="'green'" style="color:green">Green color</h4>
    <h4 *ngSwitchDefault>Unknown color</h4>
</div>


<!-- Loop -->
<h2>4- Loop in Angular</h2>
<h4 *ngFor="let data of userData">
    Contact : {{data.name}} | {{data.email}} | {{data.phone}}
</h4>


<!-- Nested loop -->
<h2>5- Nested Loop</h2>
<ul *ngFor="let data of userData">
    <li>{{data.name}}</li>
    <li>{{data.email}}</li>
    <li>{{data.phone}}</li>
    <ul *ngFor="let account of data.accounts">
        <li>{{account}}</li>
    </ul>
</ul>


<br/><br/><br/><br/><br/>
<h1>Directives : Attributes directives</h1>
<!-- Ng template -->
<h2>1- Ng template</h2>
<ng-template [ngIf]="true">
    <h4>Ng template is an attribute directive</h4>
</ng-template>


<!-- Ng style -->
<h2>2- Ng style</h2>
<input [(ngModel)]="color" /> 
<div [ngStyle]="{'color': color}">ngStyle is an attribute directive</div>


<br/><br/><br/><br/><br/>
<h1>Directives : Custom directives</h1>
<h4 appRedElement>This tag use a custom directive</h4>


<!-- Routing : Dynamic Routing & 404 Page & Child routes -->
<br/><br/><br/><br/><br/>
<h1>Routing : Dynamic Routing & 404 Page & Child routes</h1>
<a routerLink="home">Home</a><br>
<a routerLink="about">About</a><br><br><br>
<a routerLink="user/10">Peter</a><br>
<a routerLink="user/20">Sam</a><br>
<a routerLink="user/30">Bruce</a><br><br><br>
<ul>
    <li><a routerLink="login">Go to Login Page</a></li>
    <li><a routerLink="list">Go to List Page</a></li>
</ul>


<!-- Pass data parent to child component -->
<br/><br/><br/><br/><br/>
<h1>Push parent data to child component</h1>
<app-child [text]="text"></app-child>
<button (click)="updateTextFromParent()">PUSH TO CHILD</button>


<!-- Pass data child to parent component -->
<br/><br/><br/><br/><br/>
<h1>Push child data to parent component</h1>
<app-child [displaySecondBlock]=true 
           (pushTextToParentEvent)="updateTextFromChild($event)">
</app-child><br/><br/><br/>
<h4>This text is in the parent component : {{textFromChild}}</h4>


<!-- Observable -->
<br/><br/><br/><br/><br/>
<app-observable></app-observable>


<!-- Service -->
<br/><br/><br/><br/><br/>
<h1>Service</h1>
<ul >
    <li>{{usersList|json}}</li>
</ul>


<!-- basic of pipes in angular -->
<br/><br/><br/><br/><br/>
<h1>Basics of pipes in angular</h1>
<h4>Display the title of the book : {{title}}</h4>
<h4>With lower case : {{title|lowercase}}</h4>
<h4>With upper case : {{title|uppercase}}</h4>
<h4>With function : {{toUpperCase(title)}}</h4>
<h4>Today standard format : {{today}}</h4>
<h4>Format Date : {{today|date}}</h4>
<h4>Format Date (fullDate) : {{today|date:'fullDate'}}</h4>



<!-- advanced pipes -->
<br/><br/><br/><br/><br/>
<h1>Advanced pipes   </h1>
<h4>{{statement|slice :11:16}}</h4>
<h4>{{person}}</h4>
<h4>{{person|json}}</h4>
<h4>{{person|json|uppercase}}</h4>
<h4>{{003.3400|number:'1.2-3'}}</h4> 
<h4>{{100|currency:'USD'}}</h4>


<!-- custom pipes -->
<br/><br/><br/><br/><br/>
<h1>Custom pipes</h1>
<h4>{{30|convertUsdToGbp:0.76}}</h4>


<!-- Forms: basic Form -->
<br/><br/><br/><br/><br/>
<h1>Forms: Basic angular form</h1>
<form #basicForm="ngForm" (submit)="submitForm1(basicForm.value)">
    <input ngModel type="text"     name="user"     placeholder="Enter user name"/><br/><br/>
    <input ngModel type="email"    name="email"    placeholder="Enter user email"/><br/><br/>
    <input ngModel type="password" name="password" placeholder="Enter user password"/><br/><br/>
    <button>Register</button>
</form><br/>
<ul>
    <li>{{userDataForm.user}}</li>
    <li>{{userDataForm.email}}</li>
    <li>{{userDataForm.password}}</li>
</ul>


<!-- Forms: Template driven form -->
<br/><br/><br/><br/><br/>
<h1>Forms: Template driven form</h1>
<form #drivenForm="ngForm" (ngSubmit)="submitForm2(drivenForm.value)">
    <input ngModel type="text"     name="name"     placeholder="Enter name"><br/><br/>
    <input ngModel type="password" name="password" placeholder="Enter password"><br/><br/>
    <button>Login</button>
</form> 


<!-- Forms: Template driven form for validation -->
<br/><br/><br/><br/><br/>
<h1>Forms: Template driven form for validation</h1>
<form #drivenValidationForm="ngForm" (ngSubmit)="submitForm2(drivenValidationForm.value)">
    <input ngModel type="email"    name="email"    #email="ngModel"    placeholder="Enter email" ><br/>
    <span *ngIf="email.invalid && email.touched" style="color:red">Please enter a valid input</span><br/>
    <input ngModel type="password" name="password" #password="ngModel" placeholder="Enter password"><br/>
    <span *ngIf="password.invalid && password.touched" style="color:red">Please enter a valid input</span><br/>
    <button [disabled]="drivenValidationForm.invalid">Login</button>
</form>


<!-- Forms: Reactive form in angular -->
<br/><br/><br/><br/><br/>
<h1>Forms: Reactive form in angular</h1>
<form [formGroup]="reactiveForm" (ngSubmit)="submitForm3()">
    <input type="text" name="name" placeholder="Enter name" formControlName="user"><br/><br/>
    <input type="password" name="password" placeholder="Enter password" formControlName="password"><br/><br/>
    <button>Login</button>
</form> 


<!-- Forms: Reactive validations -->
<br/><br/><br/><br/><br/>
<h1>Forms: Reactive form valiation</h1>
<form [formGroup]="form5" (ngSubmit)="submitForm4()">
    <input type="text" name="name" placeholder="Enter name" formControlName="user">
    <br/><span *ngIf="user && user.invalid && user.touched" style="color:red">This input is not valid</span><br/>
    <input type="password" name="password" placeholder="Enter password" formControlName="password">
    <br/><span *ngIf="password && password.invalid && password.touched" style="color:red">Password input is not valid</span><br/>
    <button [disabled]="form5.invalid">Login</button>
</form>


<!-- Toggle Element -->
<br/><br/><br/><br/><br/>
<h1>Toggle Element</h1>
<button (click)="toggle()">Toggle</button>
<h4 *ngIf="display">Heading tag</h4>


<!-- Bootstrap -->
<br/><br/><br/><br/><br/>
<h1>Bootstrap</h1>
<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
</p>


<!-- Material ui -->
<br/><br/><br/><br/><br/>
<h1>Material ui</h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<section>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>


<!-- Reusable component -->
<br/><br/><br/><br/><br/>
<h1>Reusable component</h1>
<ul *ngFor="let user of userData">
    <app-user-details [item]="user"></app-user-details>
</ul>


<!-- Template reference variable -->
<br/><br/><br/><br/><br/>
<h1>Template reference variable</h1>
<input type="text" #input>
<button (click)="getValue(inputFieldValue)">Click me</button>


<!-- basic typescript for angular -->
<br/><br/><br/><br/><br/>
<h1>basic typescript for angular</h1>


<!--Get input field value -->
<br/><br/><br/><br/><br/>
<h1>Get input field value</h1>
<input #box5 type="text" placeholder="Enter name" name="username" (keyup)="getValue(box5.value)"/><br/><br/>
<input #box6 type="text" placeholder="Enter name" name="username"/><br/><br/>
<button (click)="getValue(box6.value)">Click me !</button><br/><br/>
<h4>Box value is : {{inputFieldValue}}</h4><br/><br/>


<!--How to start with style -->
<br/><br/><br/><br/><br/>
<h1>How to start with style</h1>
<h4 class="heading"> </h4>


<!-- Style binding & dynamic style-->
<br/><br/><br/><br/><br/>
<h1>Style binding & dynamic style</h1>
<h4 [style.color]="'green'">Blue color</h4>
<h4 [style.color]="color">Blue color</h4>
<button (click)="updateColor()">Update color</button>


<!--Counter exercice -->
<br/><br/><br/><br/><br/>
<h1>Counter exercice</h1>
<button (click)="counter('add')">+</button>
<h4>Count : {{count}}</h4>
<button (click)="counter('minus')">-</button>


<!-- Todo list in angular -->
<br/><br/><br/><br/><br/>
<h1>Todo list in angular</h1>
<input type="text" placeholder="Enter new task" #task/><br/><br/>
<button (click)="addTask(task.value)">Add new task</button><br/><br/>
<ul *ngFor="let item of list">
    <li>{{item.name}}<button (click)="removeTask(item.id)">Remove</button></li>
</ul>


<!-- Header -->
<br/><br/><br/><br/><br/>
<h1>Header</h1>
<app-header></app-header>
